.todoList {
}

.itemText {
  color: #333;
  transition: color .5s ease;
  font-size: 1.5rem;
}

.itemTextCompleted {
  text-decoration: line-through;
  color: #ccc;
}

.itemIcon {
  color: #fff;
  cursor: pointer;
  padding: 1rem 1rem 1rem 0;
}

.itemIconUncompleted {
  color: #ccc;
}
.itemIconCompleted {
  color: green;
}
.itemIconDisabled {
  color: red;
}
