.todoList {
  box-shadow: 0px 5px 20px #ccc;
  padding: 1rem;
}

.itemText {
  color: #333;
  transition: color .5s ease;
}

.itemTextCompleted {
  text-decoration: line-through;
  color: #ccc;
}

.itemIcon {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);

  cursor: pointer;
}

.itemIconUncompleted {
  color: #ccc;
}
.itemIconCompleted {
  color: green;
}
.itemIconDisabled {
  color: red;
}
