@mixin size($factor:2, $base:16px) {
  width: $base * $factor;
  height: $base * $factor;
}

.root {
  margin: 2px;
  box-shadow: 0 0 .2rem 0;
  display: inline-block;
  border-radius: 50%;
}

avatar {
  display: flex;
}

.medium {
  @include size(2);
}

.body {
  @extend .medium;
  display: block;
  border-radius: 50%;
  background: #ccc;
  background-size: 100%;
  background-color: green;
}
