@mixin size($factor:2, $base:16px) {
  width: $base * $factor;
  height: $base * $factor;
}

avatar {
  display: flex;
}

.avatar {
  @mixin medium {
    @include size(2);
  }

  transition: transform .5s ease;

  &__root {
    margin: 2px;
    display: inline-block;
    border-radius: 50%;
  }

  &__body {
    @include medium;
    display: block;
    border-radius: 50%;
    background-size: 100%;
    background-color: #666;
  }

  &.is_active {
    transform: scale(1.2);
  }
}
