<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Webpack foundation</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic' rel='stylesheet' type='text/css'>

    ${#env.production}
    <link rel="stylesheet" href="${ publicPath }css/vendor.css">
    <link rel="stylesheet" href="${ publicPath }css/app.css">
    <link rel="stylesheet" href="${ publicPath }css/app.components.css">
    ${/env.production}

    ${#env.development}
    <script async src="${ publicPath }app.style.js"></script>
    ${/env.development}
    <script async src="${ publicPath }main.js"></script>
  </head>
  <body>

    <!-- <main ui-view="main"></main> -->

    <todo-app></todo-app>

  </body>
</html>
