<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ pkg.name }} {{ pkg.version }}</title>

    <script async src="/static/app.style.js"></script>
    <script async src="/static/main.js"></script>
  </head>
  <body>
    <todo-list></todo-list>
  </body>
</html>
